.dropdown-item>a:hover{
    color: #000 !important;
}
#sbox{
	display: none;
	width: 300px !important;
	height: 400px !important;
	padding: 20px !important;
	box-sizing: border-box !important;
	position: absolute !important;
	top: 75px;
	left: 77px;
	z-index: 99999;
	overflow-y: scroll;
}
.sres{
    color: #444!important; 
}
.sres > button{ 
    width: 40px;
    height: 40px;
    border: none;
    color: #20c997;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 5px;
}
.sres>button:hover{
    background: #20c997;
    opacity: 0.5;
    color: white;
    transition: 0.7s;
}
.btnSelect {
    left: 144px;
}