body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(-45deg, #0048BA,#F400A1,#D40000,#1125d4 );
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
.parent{
  display: inline-flex;
  padding: 25px 25px;
}
.parent div{
  padding: 0px 15px;
}
.box{
  border-radius: 2%;
  width:800px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(64,64,64,0.8);
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  width: 40%;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
#register{
  width: 20%;
  text-decoration: none;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 1s;
  cursor: pointer;
}
#register:hover{
  background: #2ecc71;
}
::placeholder {
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25%{
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
